/******************************
   WISH LIST
******************************/


.wish-box{
      /*  height: 20px;
    width: 20px;
  */
    color: #ff0000;
    font-size:1.4rem;
    z-index: 100;
}

.wish-box-topleft{
    position: absolute;
    left: 20px;
    top: 20px;
}


.wish-box_hover{

}


.wish-box .fa-heart {
    position: absolute;
    visibility: hidden;

    opacity: 0;
}

.fa-heart{
    left: 0;
}

.wish-box .fa-heart-o {
    left: 0;
    position: absolute;
}

.wish-box[data-exists="yes"] .fa-heart {
    position: absolute;
    visibility: visible;
    opacity: 1;
}

.wish-box[data-exists="yes"] .fa-heart-o {
    position: absolute;
    visibility: hidden;
    opacity: 0;
}


.wish-box_hover{

}

.wish-box_hover:hover {
  transform: scale(1.2,1.2);
}


.wish-button{
    background-color: #e8e8eb;
    margin-left: 12px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
}

.wish-button:hover{
    color: #ff0000;
}

.added-wish {
  position: fixed;
  text-align: left;
  color: #ff0000;
  font-weight: 300;
  font-size: 1em;
  font-style: normal;
}


.hidden  {
  display: none;
}

.show {

}

.wish-header {
  text-align: center;
}
